
<html>
<head>
<title>提示界面!!!</title>

<meta http-equiv="Refresh" content="{$sec};url={$url}">
<style>
*{margin:0;padding:0}html,code{font:15px/22px '微软雅黑',sans-serif}html{background:#fff;color:#222;padding:15px}body{margin:7% auto 0;max-width:490px;min-height:180px;padding:30px 0 15px}* > body{p{margin:11px 0 22px;overflow:hidden}ins{color:#777;text-decoration:none}a img{border:0}@media screen and (max-width:772px){body{background:none;margin-top:0;max-width:none;padding-right:0}}
</style>
</head>
<body>
<p> <ins><h1>{$message}</h1>  <br> 

<ins><a href="index.php">

<h2>{$sec}秒后自动跳转</h2></a></ins>

<a href="{$url}"></a></div>
</body>
</html>